.post {
    background: #fff !important;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.post-btn{
    width: 100%;
}

.content-container {
    margin-top: 20px;
}

div.image-upload{
    display: none;
}

div.image-show{
    display: none;
}

div.post-action {
    display: none;
}

.image-upload label {
    font-weight: 600;
}

img.avatar{
    width: 40px;
    height: 45px;
    object-fit: cover;
}

.avatar-container-large{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    float: left;
    border: 1px solid #c5c5c5;
}

.avatar-container{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    float: left;
    border: 1px solid #c5c5c5;
}

li.contact-item img {
    margin: 0!important;
    height: 30px;
    width: 30px;
    object-fit: cover;
    border: 1px solid #c5c5c5;
}

.comment-container img.avatar {
    width: 30px;
    height: 30px;
    display: inline-block;
    object-fit: cover;
}

.comment-item img.avatar{
    width: 30px;
    height: 30px;
    display: inline-block;
    object-fit: cover;
}

img.post-image {
    display: inline-block;
    max-height: 400px;
    object-fit: cover;
}

.post-item {
    background:#fff !important ;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: left;
}

.post-item .user-name{
    font-weight: 600;
    padding-left: 10px;
}

.post-item span.user-name{
    text-align: start;
}

.post-item .image-container{

}

ul.react{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-bottom: 10px;
    border-top: 1px solid darkgray;
    border-bottom: 1px solid darkgray;
    margin-top: 10px;
}

ul.react li {
    float: left;
}

.comment-item {
    text-align: left;
    margin-top: 10px;
    padding-right: 0;
}

.comment-item p {
    background-color: #efefef;
    border-radius: 10px;
    padding: 10px
}

.comment-item span.comment-owner {
    font-weight: 600;
    color: #00a1b8;
    padding-right: 5px;
}

.comment-container {
    padding-bottom: 20px;
}

.comment-item .comment-action .btn-group{
    float: right;
    padding-top: -20px;
}

.comment-item .comment-action button{
    display: inline-block;
    font-size: 10px;
    background-color: #efefef;
}

p.comment-content{
    margin: 0;
}

